.profile__user-profession {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 703px) {
  .profile__user-profession {
    grid-column: 1 / span 2;;

    font-size: 14px;
    line-height: 17px;
  }
}
