.profile {
  padding: 40px 0 50px;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 30px;
  align-items: center;
}

@media  screen and (max-width: 703px)  {

  .profile {
    padding: 40px 0 36px;

    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(3, min-content);
    row-gap: 26px;
    justify-items: center;
    justify-content: center;
  }

}
