.popup__close-button_type_photo {
  width: 32px;
  height: 32px;

  top: -40px;
  right: -40px;
}

@media screen and (max-width: 703px){
  .popup__close-button_type_photo {
    width: 20px;
    height: 20px;

    top: -25px;
    right: 0;
  }
}
