.profile__info {
  max-width: 336px;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 18px;
}


@media screen and (max-width: 703px) {
  .profile__info {
    padding: 0 0 8px;
    justify-items: center;
    column-gap: 10px;
  }
}
