.profile__info {

  display: grid;
  grid-template-columns: repeat(2, minmax(0, min-content));
  align-items: center;
  column-gap: 18px;
}

@media screen and (max-width: 703px) {
  .profile__info {
    padding: 0 0 8px;
    justify-items: center;
    column-gap: 10px;
  }
}
