.card {
  background-color: #fff;
  color: #000;

  border-radius: 10px;

  overflow: hidden;

  position: relative;
}

.card-popup__container{
 border: 1px solid red;
}

.card-popup__photo {
  display: block;
}
